*{
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
  overflow: hidden;
 

}


#navigation-section {
  max-height: 100vh;
}

.nav-item {
  font-size: 20px;
}
.img-fluid {

  height: 100vh;
  width: 100%;
}




.titleInImage {
  position: absolute;
  top: 30%;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
}

.titleInImage1 {
  position: absolute;
  top: 88%;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
}

.maintxt {
  position: absolute;
  background-image: url(style/picture1.jpg);
  background-size: cover;
  

}

.navbar-brand {

  font-size: 50px;
  font-weight: bolder;
  
}

#text {
  height: 100vh;
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: column;

}

#alfred {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
}
.author-name {
  font-size: 70px;
  padding: 20px 20px;
  letter-spacing: 4px;
  text-align: center;
}
.underTitle {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.textAbout {
  padding: 20px 20px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;

}

#commentary {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#commentary-box {
  max-height: 600px;
}
#form-message {
  max-height: 200px;
}

.scroller {
  color: white;
  position: fixed;
  left: -20%;
  top: 30%;
  cursor: pointer;
  z-index: 1000;
}

.sectionScrollTo {
  
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
}


#carret {
  font-size: 30px;
  position: absolute;
  right: 20%;
  
}

#buttonCarret {
  position: fixed;
  top: 20%;
  left: 10%;
}