
<html>
  <head>
     <title>Register</title>
     <link rel='stylesheet' type = 'text/css' href='css/login.css' />
  </head>
  <body >
    <div class="centerSignUp">
      <h1 class = 'login'>Sign up</h1>
    
      <form action="/register" method="POST">
    
    
        <div class="txt_field">
          <input name = 'name' type="text" required>
          <span></span>
          <label>Username</label>
        </div>
    
        <div class="txt_field">
          <input name = 'email' type="email" required>
          <span></span>
          <label>Email</label>
        </div>
    
    
    
        <div class="txt_field">
          <input name = 'password' type="password" required>
          <span></span>
          <label>Password</label>
        </div>
    

    
        <div class = 'regulaminDiv'>
          <input type="checkbox" required>
          <h5 class='regulamin'>I accept the terms and conditions</h5>
    
        </div>
       
     
    
        <input type="submit" value="Sign up">
        <div class="signup_link">
         You are a member? <a href="login" id = 'loginPageMember'>Login</a>
        </div>
      </form>
    </div>
  </body>
 </html>









