*{
  box-sizing: border-box;
  border: 0;
  padding: 0;
  font-family: 'Alegreya', serif;
  

}

::-webkit-scrollbar {
  width: 1.5em;
  
}

::-webkit-scrollbar-track {
  background-color: rgb(17,17,17);

}

::-webkit-scrollbar-thumb {
  
  background-color: rgb(48,48,48);
  border-radius: 100vw;
}




#navigation-section {
  max-height: 100vh;
}

.nav-item {
  font-size: 20px;
}
.img-fluid {
  position: relative;
  z-index: -1;
  height: 90vh;
  width: 100%;
}




.titleInImage {
  position: absolute;
  top: 30%;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
}

.titleInImage1 {
  position: absolute;
  top: 88%;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 10px;
  color: white;
  left: 50%;
  transform: translate(-50%,0);
}

.maintxt {
  position: absolute;
  background-image: url(style/picture1.jpg);
  background-size: cover;
  

}


.navbar-brand {
 
  font-size: 50px;
  font-weight: bolder;
  
}

#text {
  height: 100vh;
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: column;

}

#alfred {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 40px;
}
.author-name {
  font-size: 70px;
  padding: 20px 20px;
  letter-spacing: 4px;
  text-align: center;
}
.underTitle {
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}
.textAbout {
  padding: 20px 20px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;

}

#commentary {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#commentary-box {
  max-height: 600px;
  
}
#form-message {
  max-height: 200px;
}

.scroller {
  color: white;
  position: fixed;
  left: -20%;
  top: 30%;
  cursor: pointer;
  z-index: 1000;
  transition: .7s ease-in-out;
  padding: 10px;
}

.scroller.left {
  transform: translateX(20vw);
}

.sectionScrollTo {
  width: 120px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 10px;
  display: flex;
  position: relative;
}

.sectionScrollTo::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.sectionScrollTo:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#carret {
  font-size: 30px;
  position: absolute;
  right: 20%;
  
}

#buttonCarret {
  position: fixed;
  top: 20%;
  left: 0%;
  font-size: 60px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  color: white;

}

#interactive-activity {
  font-size: 20px;
  
  
}

#commentary-section-activity {
  text-decoration: none;
  padding-left:  2em;
  padding-right:  2em;
}

#buttonCarret.rotation {
  transform: translateX(5vw) rotate(90deg);
}


.loginpage {
  display: flex;
  flex-direction: column;
}

.textH1Sign {
  color: #46f0ff;
  font-size: 50px;
  margin: auto auto;
  margin-top: 1.5em;
}

